
  html {
    height: 50%;
    display: table;
    margin: auto;
    max-width: 349px;
  }

  header {
    color: white;
    font-size: x-large;
    text-align: center;
    background: rgb(146, 58, 0);
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(146, 58, 0);
    border-width: 5px;
    margin-bottom: 5px;
    animation-duration: 1s;
    animation-name: header;
    text-shadow: 4px 4px 8px #000000;
  }

  @keyframes header {
    from {
      font: 1px;

    }
    to {
      font:18px;

    }
  }

  body {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    background: darkgray;
    font: medium Arial, sans-serif;
}

  ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 10px;
    margin-bottom: 5px;
  }

  li {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    text-shadow: 2px 2px 4px #000000;
  }
  
  li:hover {
    background-color: lightgray;
    color: black;
  }

  .active {
    background-color: rgb(218, 88, 1);
    animation-duration: 1s;
    animation-name: active;
  }

  @keyframes active {
    from {
      background-color: lightgray;
    }
    to {
      background-color: rgb(218, 88, 1);
    }
  }

  #result {

  }

  article {
    background: #fdbf8c;
    border-color: #fdbf8c;
    border-style: solid;
    min-height: 350px;
    border-width: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
  }

  button {
      min-width: 75px;
      max-width: 100px;
  }

  section {
    display: table;
    margin: 10px;
  }

  section b {
    text-shadow: 1px 1px 3px #000000;
  }

  input {
     width: 75px;
  }

  footer {
      color: white;
      background: #333;
      list-style-type: none;
      margin: auto;
      padding: 3px 5px;
      border-radius: 10px;
      font-size: small;
      text-align: center;
  }
  footer a {
      color: white;
  }

